@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.navbar .nav-logo {
  width: 346px;
  height: 101px;
}
.navbar .nav-item .nav-link {
  text-transform: uppercase;
}
.navbar .nav-item .nav-link.active {
  font-weight: bolder !important;
}

.btn-color-orange {
  border-color: #f4ab11;
  color: black;
}
.btn-color-orange:hover {
  color: #fff;
  background-color: #f4ab11;
  border-color: #f4ab11;
}

.rounded-5 {
  border-radius: 20px;
}

.btn-orange {
  background-color: #f4ab11;
  outline-color: #f4ab11;
  border-color: #f4ab11;
  box-shadow: none;
}
.btn-orange:hover {
  background-color: rgba(243, 175, 29, 0.8156862745);
  border-color: #f4ab11;
}

.border-color-orange {
  border-color: #f4ab11 !important;
}

.border-radius-10px {
  border-radius: 10px;
}

.width-90px {
  width: 90px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.home-page .section-1 {
  background-image: url("./assets/background_1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 554px;
}
body.home-page .section-1 h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 30pt;
  width: 229px;
}
body.home-page .section-2 {
  height: 554px;
  max-width: 50rem;
  margin: 0px auto;
}
body.home-page .section-2 h1 {
  font-size: 55.654px;
  font-family: "Roboto";
  color: rgb(63, 62, 62);
  text-transform: uppercase;
  line-height: 1.078;
  text-align: center;
  margin-bottom: 20px;
}
body.home-page .section-4 .main-image {
  max-width: 100%;
}
body.home-page .section-4 ul {
  max-width: 440px;
  margin: 0 auto;
  text-align: start;
}
body.home-page .section-4 ul li::marker {
  color: #f4ab11;
  font-size: 20px;
}
body.home-page .section-5 {
  background-color: #34444b;
}
body.home-page .section-5 h1 {
  font-size: 34px;
  font-weight: bolder;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0 auto;
}
body.home-page .section-6 {
  background-color: #e7e7e6;
}
body.home-page .section-6 .copyright-and-links {
  max-width: 470px;
}
body.lehrstellen-page .lehrstellen-image-main {
  max-width: 100%;
}
body.lehrstellen-page .learnmore {
  min-width: 200px;
}
body.lehrstellen-page .section-2 img {
  max-width: 100%;
}
body.lehrstellen-page .section-3 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
body.lehrstellen-page .section-4 {
  background-color: #34444b;
}
body.lehrstellen-page .section-4 h1 {
  font-size: 34px;
  font-weight: bolder;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0 auto;
}
body.tipps-page .lehrstellen-image-main {
  max-width: 100%;
}
body.tipps-page .learnmore {
  min-width: 200px;
}
body.tipps-page .section-1 img {
  max-width: 100%;
}
body.tipps-page .section-2 ul li {
  list-style-image: url("assets/arrow.png");
  padding: 20px;
}
body.tipps-page .section-2 ul li h3 {
  position: relative;
  top: -7px;
}
body.tipps-page .section-3 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
body.tipps-page .section-4 {
  background-color: #34444b;
}
body.tipps-page .section-4 h1 {
  font-size: 34px;
  font-weight: bolder;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0 auto;
}
body.contactus-page .lehrstellen-image-main {
  max-width: 100%;
}
body.contactus-page .learnmore {
  min-width: 200px;
}
body.contactus-page .section-1 img {
  max-width: 100%;
}
body.contactus-page .section-2 ul {
  max-width: 440px;
  text-align: start;
}
body.contactus-page .section-2 ul li::marker {
  color: #f4ab11;
  font-size: 30px;
}
body.contactus-page .section-2 ul li p {
  position: relative;
  top: -3px;
}
body.contactus-page .section-3 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
body.contactus-page .section-4 {
  background-color: #34444b;
}
body.contactus-page .section-4 h1 {
  font-size: 34px;
  font-weight: bolder;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0 auto;
}
body.aboutus-page .aboutus-image-main {
  width: 100%;
}
body.aboutus-page .learnmore {
  min-width: 200px;
}
body.aboutus-page .section-2 img {
  max-width: 100%;
}
body.aboutus-page .section-3 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
body.aboutus-page .section-4 {
  background-color: #34444b;
}
body.aboutus-page .section-4 h1 {
  font-size: 34px;
  font-weight: bolder;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0 auto;
}
body.training-companies-page .post-search-result-row img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
body.training-companies-page .training-companies-page-main-image {
  max-width: 100%;
}
body.training-companies-page .learnmore {
  min-width: 200px;
}
body.training-companies-page .section-2 img {
  max-width: 100%;
}
body.training-companies-page .section-2 .width-250px {
  width: 250px;
}
body.training-companies-page .section-3 img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
body.training-companies-page .section-4 {
  background-color: #34444b;
}
body.training-companies-page .section-4 h1 {
  font-size: 34px;
  font-weight: bolder;
  max-width: 388px;
  text-transform: uppercase;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .home-page .section-3 {
    padding-top: 60px !important;
  }
}
@media only screen and (max-width: 510px) {
  .home-page .section-3 {
    padding-top: 150px !important;
  }
}/*# sourceMappingURL=index.css.map */